@import './base.css';

body {
  max-width: 768px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    border-bottom: solid 1px var(--color-secondary);
  }

  a:focus {
    border-bottom: solid 1px var(--color-secondary);
  }
}

@media (min-width: 1024px) {
  body {
  }
}
